body {
    font-family: "Quicksand", sans-sarif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

#page-logo a {
    padding: 10x;
    font-family: "Oleo Script", sans-sarif;
    color: rgb(245, 243 , 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
    display: flex;
}

header li {
    margin: 25px;
}

header a {
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

header nav a:hover {
    color: rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);
    border-radius: 6px;
}

footer {
    background: linear-gradient(70deg,
    rgb(24, 24, 24),
    rgb(25, 29, 29));
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 40px;
}

footer li {
    width: 80px;
    height: 80px;
    margin: 0 50px;
}

footer img {
    width: 100%;
    height: 100%;
}